$gray: #454545;

$lightest: #f2fffe;
$lighter: #dcf9f9;
$light: #ccecec;
$middle: #a7e3e3;
$dark: #62b6ad;
// $darkest: #77bcb9;
$darkest: #576c69;

body {
    background-color: $light;
    font-family: 'Merriweather', serif;
    color: $darkest;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $gray;
    color: $lightest;
    box-shadow: 1px 1px 5px #888888;
}


.left-menu {
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.right-menu {
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.main-content {
    max-width: 750px;
}

.main-description {
    padding: 20px;
    border-bottom: 1px solid $middle;
}

a {
    text-decoration: none;
    color: $darkest;
}

.post-summary-wrapper {
    h2 {
        font-size: 1.2em;
        margin-top: 5px;
    }

    background-color: $light;
    box-shadow: -2px -2px 9px 2px $middle;
    border-radius: 25px;
}


.post-summary {
    box-shadow: 2px 2px 9px 2px $lighter;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}