<header class="header-content">
    <nav class="left-menu">

        <a href="/">
            <h1 class="menu-item ">{{ .Site.Title }}</h1>
        </a>
        <!-- <div class="menu-item">Projects</div> -->
    </nav>
    <aside class="right-menu">
        <div class="menu-item">
            <a href="https://github.com/rq-abrahamsson">
                <img height="20" alt="Github" src="/resources/github.png">
            </a>
        </div>
        <div class="menu-item">
            <a href="https://twitter.com/rqAbrahamsson">
                <img height="20" alt="Twitter" src="/resources/twitter.png">
            </a>
        </div>

        <div class="menu-item">
            <a href="https://www.linkedin.com/in/robin-abrahamsson/">
                <img height="20" alt="Linkedin" src="/resources/linkedin.png">
            </a>
        </div>
    </aside>
</header>

</div>